<h4>Películas</h4>
<table class="table table-striped">
    <tbody>
    <!-- elementos es la variable que recibirá del controlador PeliculasCtrl.js, en este caso una colección.
    Pintamos las cosas del $scope del controlador con {{}}. Añadimos :: a las variables para que no tenga
    watch en ese caso, ya que es sólo para mostrarlo al usuario -->
        <tr ng-repeat="pelicula in peliculas">
            <td>{{ ::pelicula.original_title }}</td>
            <td>{{ ::pelicula.release_date }}</td>
            <td><span class="badge">{{ ::pelicula.vote_average }}</span></td>
        </tr>
    </tbody>
</table>